<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- task的mapper -->
<mapper namespace="com.ljx.tutor_platform.dao.TaskDao">
    <resultMap id="taskmap" type="com.ljx.tutor_platform.entity.Task">
    	<result property="id" column="id"/>
        <result property="taskName" column="task_name"/>
        <result property="createTime" column="create_time"/>
        <result property="taskDescribe" column="task_describe"/>
        <result property="price" column="price"/>
        <result property="status" column="status"/>
        <result property="period" column="period"/>
        <result property="ranks" column="ranks"/>
        <result property="pic" column="pic"/>
        
        <association property="user"  javaType="com.ljx.tutor_platform.entity.User">
        	<!-- id：关联查询用户的唯一标识        column：指定唯一标识用户信息的列        javaType：映射到user的哪个属性         -->
               <id column="teacher_id" property="id"/>
               <result property="userName" column="username"/>
		       <result property="nickName" column="nick_name"/>
		       <result property="phoneNum" column="phone"/>
		       <result property="email" column="email"/>
		       <result property="trueName" column="true_name"/>
		       <result property="address" column="address"/>
        </association>
		
		<association property="type"  javaType="com.ljx.tutor_platform.entity.TutorType">
        	<!-- id：关联查询用户的唯一标识        column：指定唯一标识用户信息的列        javaType：映射到user的哪个属性         -->
               <id column="type_id" property="id"/>
               <result property="typeName" column="type_name"/>
        </association>
    </resultMap>
    
    <select id="getTaskByType" resultMap="taskmap">
        select * from task c left join user u on c.teacher_id=u.id where c.type_id=(
			select id from tutor_type where type_name=#{taskType}
		);
    </select>
    
     <resultMap id="newtaskmap" type="com.ljx.tutor_platform.entity.Task">
    	<result property="id" column="c_id"/>
        <result property="taskName" column="task_name"/>
        <result property="createTime" column="ccreate_time"/>
        <result property="taskDescribe" column="task_describe"/>
        <result property="price" column="price"/>
        <result property="status" column="status"/>
        <result property="period" column="period"/>
        <result property="ranks" column="ranks"/>
        <result property="pic" column="cpic"/>
        
        <association property="user"  javaType="com.ljx.tutor_platform.entity.User">
        	<!-- id：关联查询用户的唯一标识        column：指定唯一标识用户信息的列        javaType：映射到user的哪个属性         -->
               <id column="teacher_id" property="id"/>
               <result property="userName" column="username"/>
		       <result property="nickName" column="nick_name"/>
		       <result property="phoneNum" column="uphone"/>
		       <result property="email" column="email"/>
		       <result property="trueName" column="true_name"/>
		       <result property="address" column="address"/>
        </association>
		
		<association property="type"  javaType="com.ljx.tutor_platform.entity.TutorType">
        	<!-- id：关联查询用户的唯一标识        column：指定唯一标识用户信息的列        javaType：映射到user的哪个属性         -->
               <id column="type_id" property="id"/>
               <result property="typeName" column="type_name"/>
        </association>
    </resultMap>
    
    
    
    
    <select id="findTaskList" parameterType="map" resultMap="newtaskmap">
		select 
			c_id,task_name,price,task_describe,
			period,status,ranks,
			ccreate_time,cpic,true_name,uphone,
			ty.type_name from 
			(
				select c.id as c_id,type_id,task_name,
				price,task_describe,period,
				c.status as status,c.ranks as ranks,
				c.create_time as ccreate_time,c.pic as cpic,
		        u.true_name as true_name,u.phone as uphone
				from task c left join user u on c.teacher_id=u.id
			) as T left join tutor_type ty on T.type_id = ty.id
		<where>
			<if test="taskName!=null and taskName!='' ">
				and task_name like '%${taskName}%'
			</if>
			
			<if test="ranks!=null and ranks!='' ">
				and ranks=#{ranks}
			</if>
		</where>
		<if test="start!=null and size!=null">
			limit #{start},#{size}
		</if>
	</select>
	<!-- 获取条数 -->
	<select id="getTotal" parameterType="Map" resultType="Long">
		select count(*) from task
		<where>
			<if test="taskName!=null and taskName!='' ">
				and task_name like '%${taskName}%'
			</if>
			
			<if test="ranks!=null and tutorType!='' ">
				and task.ranks=#{ranks}
			</if>
		</where>
	</select>
	
	<delete id="delTask" parameterType="Integer">
   		delete from task where id=#{id}
   	</delete>
   	
   	<update id="editTask" parameterType="com.ljx.tutor_platform.entity.Task">
	 	  update task
	 	  <set>
			<if test="taskName!=null and taskName!='' ">
				task_name=#{taskName},
			</if>
			<if test="status!=null and status!='' ">
				status=#{status},
			</if>
			<if test="ranks!=null and ranks!='' ">
				task.ranks=#{ranks},
			</if>
	 	  </set>
	 	  where  id=#{id}
	</update>
</mapper>
